@import url('https://fonts.googleapis.com/css?family=Charmonman|K2D');


*{
  text-align: center;
  cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  margin: auto;
}

body{
  padding: 50px;
  background-color: red;
  color:hotpink;
  font-family: 'Charmonman', cursive;

  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255,0.15),rgba(255,255,255,0.15) 10px, transparent 25px,transparent 25px),

  repeating-linear-gradient(45deg, rgba(255,255,255,0.15),rgba(255,255,255,0.15) 10px,transparent 25px,transparent 25px),

  linear-gradient(to bottom, pink, red);
}

h1{
  font-size: 60px;
  background: -webkit-linear-gradient(#eee, #333);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

 text-shadow: 4px 4px 10px lightcoral;
}

h1:hover{
  animation: blinker 2s linear infinite alternate-reverse;
}

@keyframes blinker {
  50% {
    opacity: 0;

    background: -webkit-linear-gradient(yellow, lightcoral);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
}

h2:hover{
  animation: blinker 1s linear infinite alternate-reverse;
}

img{
  z-index: -1;
  animation: zoom 5s linear infinite alternate-reverse;
}


@keyframes zoom {
    0% {
      transform: scale(.5);
      filter: invert(0%);
    }

    50% {
      transform: translateX(-500px) translateY(250px);
    filter: invert(100%);
    }

    100% {
    transform: scale(1.5) translateY(500px);
    filter: invert(0%);
    }
}

/* nav{
  font-size: 30px;
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 4px 4px 10px lightcoral;
  animation: blinker 8s linear infinite alternate-reverse;
}


nav:hover{
  animation: blinker 1s linear infinite alternate-reverse;
} */
