body{
  background-color: red;

  animation-name: changeColor;
  animation-duration: 8s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

div {
    width: 200px;
    height: 200px;

    margin: 100px;

    display: inline-block;

    background-color: green;
}

#box1 {
    animation-name: brotate;
    animation-duration: 3000ms;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;

    background-color: blue;

}

@keyframes brotate {
    0% {
        transform: rotate(0deg);
        border-radius: 0%;
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
        border-radius: 50%;
    }
}

#box2 {
    position: relative;
    background-color: crimson;

    animation-name: shrug;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes shrug {
    0% {
        transform: perspective(60px) rotateY(-40deg);
        background-color: deepskyblue;
    }

    50% {
        transform: perspective(300px) rotateY(0);
        background-color: mistyRose;
    }

    100% {
        transform: perspective(100px) rotateY(40deg);
        background-color: crimson;
    }
}

#box3{
    position: relative;

    bottom: 400px;

    background-color: rgba(148, 21, 244, 0.47);
    z-index: 1;

    border: 1px solid rgba(148, 21, 244, 0.7);


}

@keyframes changeColor{

  0%{
    background-color: red;
  }

  100%{
    background-color: lightblue;
  }
}


#box4{
  position: relative;

  background-color: pink;
  border: 10px dashed red;

  animation: mover 10s ease-in-out infinite alternate-reverse;

  z-index: -1;
}

@keyframes mover {
  0%{
    transform: translate(0px, 0px);
  }

  33%{
    transform: translate(700px, 0px);
  }

  66%{
    transform: translate(500px, -200px) rotateZ(-90deg);
  }

  100%{
    transform: translate(300px, -700px) rotateZ(90deg);
  }
}


#box5{
  position: relative;
  background-color: pink;
  border: 10px double teal;

  animation: moverRenegade 10s ease-in-out infinite alternate-reverse;

/* Z-index only works with positioned items */
/* Z-context  */
  z-index: -1;
}

@keyframes moverRenegade {
  0%{
    transform: scale(4);
    left: 500px;
  }

  33%{
    transform: scale(2);
    top: 200px;
  }

  66%{
    transform: scale(10);
    bottom: 0;
  }

  100%{
    transform: scale(2);
    right: 600px;
  }
}

#box6{

  position: relative;
  background-color: orange;
  border: 10px dotted pink;
  animation: scaler 10s ease-in-out infinite alternate-reverse;

}

@keyframes scaler {
  0%{
    transform: scale(1);
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 90%;
  }

  33%{
    transform: scale(10);
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 10%;
  }

  66%{
    transform: scale(5);
    background-color: rgba(0, 0, 255, 1);
    border-radius: 50%;
  }

  100%{
    transform: scale(25);
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 100%;
  }
}


#box7{
  position: relative;

  background-color:rgba(125, 0, 120, 0.5);
  border: 30px groove deepskyblue;

  animation: jump 10s ease-in-out infinite alternate-reverse;
}

@keyframes jump {
  0%{
    transform: translate(100px, 100px) rotateZ(50deg) scale(2);
    border-radius: 50%;
  }

  20%{
    transform: translate(0px, 200px) rotateZ(-50deg) scale(8);
    border-radius: 10%;
  }

  40%{
    transform: translate(300px, 300px) rotateZ(100deg) scale(.1);
    border-radius: 80%;
  }

  60%{
    transform: translate(0px, 300px) rotateZ(-100deg) scale(5);
    border-radius: 10%;
  }

  80%{
    transform: translate(200px, 200px) rotateZ(150deg) scale(1);
    border-radius: 50%;
  }

  100%{
    transform: translate(0px, 200px) rotateZ(-150deg) scale(10);
    border-radius: 10%;
  }

}
