body {
    padding: 0;
    margin: 0;
    font-family: 'Modak', cursive;

}

.background_ani {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #9400d3 0%, #FFFFFF 100%);

    animation: filter_grad 8s infinite;
}

@keyframes filter_grad {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(100deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }


}
