/* Load font from the web ie fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Princess+Sofia');

/* Load font saved in a folder */
@font-face {
  font-family: 'PressStart2P';
  src:url('fonts/PressStart2P.ttf');
}

*{
  /*background: darkSalmon;*/
  background-image: repeating-radial-gradient(circle, red, slateBlue 15%, peachPuff 25%);

  color: turquoise;
  font-size: 15px;
  line-height: 50px;
  text-shadow: 50px 50px 10px rgb(62, 166, 199);

  border: 5px dashed rgb(6, 200, 194);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  text-indent: 100px;

  font-family: PressStart2P, Gill Sans, sans-serif, cursive;
}

/* span does not break the line*/
span{
  font-family: Luminari, Didot, sans-serif;
  font-size: 30px;
  color: ghostwhite;
  background: skyblue;
}

/* div is block element that breaks the line*/
div{
  font-family: Didot;
  font-size: 200px;
  line-height: 300px;;
  display: inline;
  background-color: mistyRose;
  color: peachPuff;
}

#barcode{
  font-size: 50px;
  font-weight: 800;
  font-style: oblique;
  font-variant: small-caps;
  line-height: 150px;
  /* Add a shadow behind the text (horizontal-alignment, vertical-alignment, shadow radius, color) */
  text-shadow: 10px 50px 10px rgba(255, 0, 0, 0.7),
              -50px -50px 10px rgba(0, 0, 255, 0.5),
              -100px 50px 3px darkSalmon;
  font-family: 'Libre Barcode 128 Text', cursive;
}

#sofia{
  font-size: 30px;
  font-weight: 1000;
  font-family: 'Princess Sofia', cursive;
}

marquee{
  background-color:DarkSeaGreen;
  font-family: PressStart2P;
  color: red;
  font-size: 60px;

  text-shadow: 10px 10px 5px rgb(97, 7, 54),
              -10px -10px 5px rgb(0, 0, 255),
              -10px 10px 5px darkSalmon;

  line-height: 150px;
}
